{% extends 'base.html' %}

{% block content %}
<div class="hero about"></div>
<div class="container-fluid mt-5">
  <div class="row mb-5">
    <div class="col-sm-8 offset-md-2 col-lg-4 offset-lg-4">
      
      <div>
        <h1 class="mb-3">About</h1>
        <p class="lead">We're here to help you plan your upcoming trip to Miami. Simply return to the homepage and input your budget for the trip and we will provide you with a complete itinerary including hotel acoomodations, meals, and activities for your weekend trip.</p>
      </div>

    </div>
</div>
{% endblock content %}