<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
  <script defer src="{{ url_for('static', filename='js/scripts.js') }}"></script>

  <title>Weekend in Miami</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">WiM</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="d-flex">
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav">
              <a href="/" class="nav-item nav-link">Budget</a>
              <a href="/about" class="nav-item nav-link">About</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  <main>
    {# content from other templates will render between the block tags below #}
    {% block content %}{% endblock content %}
  </main>
  
  <footer>
    {# footer content (if needed) will go here #}
  </footer>
</body>
</html>