<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
  <script defer src="{{ url_for('static', filename='js/scripts.js') }}"></script>

  <title>Weekend in Miami</title>
</head>
<body>
  <header>
    {# header links can go here #}
  </header>
  
  <main>
    {# content from other templates will render between the block tags below #}
    {% block content %}{% endblock content %}
  </main>
  
  <footer>
    {# footer content (if needed) will go here #}
  </footer>
</body>
</html>