{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12">
      
      <div class="text-center">
        <h1 class="mb-3">Itinerary</h1>
        <p>Here is your planned itinerary based on your budget of: ${{ trip_budget }}</p>
      </div>

      <div class="hotel">
        <span>Hotel</span>
        <h2>{{ itinerary.hotel.name }}</h2>
        <p>{{ itinerary.hotel.address }}</p>
        <p>{{ itinerary.hotel.phone }}</p>
        <p>Rating: {{ itinerary.hotel.rating }}</p>
        <p>${{ itinerary.hotel.cost}} per night</p>
        <p>${{ (itinerary.hotel.cost * 2) }} total</p>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <span>Activities and Meals</span>

      <div class="card daily friday m-3">
        <h2 class="card-header">Friday</h2>

        <div class="card-body">
          <div class="row">

            <div class="activities col-6">
              <h5>Activities</h5>
              <p class="card-subtitle">Morning: N/A</p>
              <p class="card-subtitle">Afternoon: Arrival</p>
              <p class="card-subtitle">Evening:</p>
              <ul class="list-group">
                <li class="list-group-item">
                  <a target="_blank" href="{{ itinerary.ent.friday_eve[12] }}">{{ itinerary.ent.friday_eve[1] }}</a>
                </li>
                <li class="list-group-item">Cost: ${{ itinerary.ent.friday_eve[8] }}</li>
              </ul>
            </div>

            <div class="meals col-6">
              <h5>Meals</h5>
              <ul class="list-group">
                <li class="list-group-item">Breakfast: N/A</li>
                <li class="list-group-item">Lunch: Airport Dining</li>
                <li class="list-group-item">Dinner: </li>
              </ul>
            </div>

          </div>
        </div>
      </div>

      <div class="card daily saturday m-3">
        <h2 class="card-header">Saturday</h2>
        
        <div class="card-body">
          <div class="row">
            <div class="activities col-6">
              <h5>Activities</h5>
              <p class="card-subtitle">Morning:</p>
              <ul class="list-group">
                <li class="list-group-item"><a href="{{ itinerary.ent.saturday_mor[12] }}">{{ itinerary.ent.saturday_mor[1] }}</a></li>
                <li class="list-group-item">Cost: ${{ itinerary.ent.saturday_mor[8] }}</li>
              </ul>
              <p class="card-subtitle">Afternoon:</p>
              <ul class="list-group">
                <li class="list-group-item"><a href="{{ itinerary.ent.saturday_aft[12] }}">{{ itinerary.ent.saturday_aft[1] }}</a></li>
                <li class="list-group-item">Cost: ${{ itinerary.ent.saturday_aft[8] }}</li>
              </ul>
              <p class="card-subtitle">Evening:</p>
              <ul class="list-group">
                <li class="list-group-item"><a href="{{ itinerary.ent.saturday_eve[12] }}">{{ itinerary.ent.saturday_eve[1] }}</a></li>
                <li class="list-group-item">Cost: ${{ itinerary.ent.saturday_eve[8] }}</li>
              </ul>
            </div>

            <div class="meals col-6">
              <h3>Meals</h3>
              <ul class="list-group">
                <li class="list-group-item">Breakfast:</li>
                <li class="list-group-item">Lunch:</li>
                <li class="list-group-item">Dinner:</li>
              </ul>
            </div>  
          </div>
        </div>
      </div>
    </div>

    <div class="card daily sunday m-3">
      <h2 class="card-header">Sunday</h2>

      <div class="card-body">
        <div class="row">
          <div class="activities col-6">
            <h5>Activities</h5>
            <p class="card-subtitle">Morning:</p>
            <ul class="list-group">
              <li class="list-group-item"><a href="{{ itinerary.ent.sunday_mor[12] }}">{{ itinerary.ent.sunday_mor[1] }}</a></li>
              <li class="list-group-item">Cost: ${{ itinerary.ent.sunday_mor[8] }}</li>
            </ul>
            <p class="card-subtitle">Afternoon: Departure</p>
            <p class="card-subtitle">Evening: N/A</p>
          </div>
          
          <div class="meals col-6">
            <h5>Meals</h5>
            <ul class="list-group">
              <li class="list-group-item">Breakfast: </li>
              <li class="list-group-item">Lunch: Airport Dinner</li>
              <li class="list-group-item">Dinner: N/A</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}

