{% extends 'base.html' %}

{% block content %}
<div class="hero itinerary"></div>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12">

      <div class="text-center mb-5">
        <h1 class="mb-3">Itinerary</h1>
        <p class="lead">Here is your planned itinerary based on your budget of: ${{ trip_budget }}</p>
      </div>

      <div class="hotel row justify-content-center mb-5">
        <div class="col-4">
          <span>Hotel</span>
          <h2>{{ itinerary.hotel.name }}</h2>
          <p class="mb-0">{{ itinerary.hotel.address }}</p>
          <p class="mb-0">Phone: {{ itinerary.hotel.phone }}</p>
          <p>Rating: {{ itinerary.hotel.rating }}</p>

          <h4 class="mt-4">Cost:</h4>
          <p>${{ itinerary.hotel.cost}} per night / ${{ (itinerary.hotel.cost * 2) }} total</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row mb-5">
    <h2 class="text-center mb-3">Activities and Meals</h2>

    <div class="col col-12 col-lg-4">
      <div class="card daily friday">
        <h2 class="card-header">Friday</h2>

        <div class="card-body">
          <div class="row">

            <div class="activities col-6">
              <h5>Activities</h5>
              <p class="card-subtitle mb-2">Morning: N/A</p>
              <p class="card-subtitle mb-2">Afternoon: Arrival</p>
              <p class="card-subtitle mb-2">Evening:</p>
              <ul class="list-group mb-2">
                <li class="list-group-item">
                  <a target="_blank" href="{{ itinerary.ent.friday_eve[12] }}">{{ itinerary.ent.friday_eve[1] }}</a>
                </li>
                <li class="list-group-item">Cost: ${{ itinerary.ent.friday_eve[8] }}</li>
              </ul>
            </div>

            <div class="meals col-6">
              <h5>Meals</h5>
              <ul class="list-group mb-2">
                <li class="list-group-item">Breakfast: N/A</li>
                <li class="list-group-item">Lunch: N/A</li>
                <li class="list-group-item">Dinner: {{ itinerary.meals[0][1] }} (${{ itinerary.get_rest_price(itinerary.meals[0][4]) }})</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col col-12 col-lg-4">
      <div class="card daily saturday">
        <h2 class="card-header">Saturday</h2>

        <div class="card-body">
          <div class="row">
            <div class="activities col-6">
              <h5>Activities</h5>
              <p class="card-subtitle mb-2">Morning:</p>
              <ul class="list-group mb-2">
                <li class="list-group-item"><a href="{{ itinerary.ent.saturday_mor[12] }}">{{ itinerary.ent.saturday_mor[1] }}</a></li>
                <li class="list-group-item">Cost: ${{ itinerary.ent.saturday_mor[8] }}</li>
              </ul>
              <p class="card-subtitle mb-2">Afternoon:</p>
              <ul class="list-group mb-2">
                <li class="list-group-item"><a href="{{ itinerary.ent.saturday_aft[12] }}">{{ itinerary.ent.saturday_aft[1] }}</a></li>
                <li class="list-group-item">Cost: ${{ itinerary.ent.saturday_aft[8] }}</li>
              </ul>
              <p class="card-subtitle mb-2">Evening:</p>
              <ul class="list-group mb-2">
                <li class="list-group-item"><a href="{{ itinerary.ent.saturday_eve[12] }}">{{ itinerary.ent.saturday_eve[1] }}</a></li>
                <li class="list-group-item">Cost: ${{ itinerary.ent.saturday_eve[8] }}</li>
              </ul>
            </div>

            <div class="meals col-6">
              <h5>Meals</h5>
              <ul class="list-group mb-2">
                <li class="list-group-item">Breakfast: {{ itinerary.meals[1][1] }} (${{ itinerary.get_rest_price(itinerary.meals[1][4]) }})</li>
                <li class="list-group-item">Lunch: {{ itinerary.meals[2][1] }} (${{ itinerary.get_rest_price(itinerary.meals[2][4]) }})</li>
                <li class="list-group-item">Dinner: {{ itinerary.meals[3][1] }} (${{ itinerary.get_rest_price(itinerary.meals[3][4]) }})</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-12 col-lg-4">
      <div class="card daily sunday">
        <h2 class="card-header">Sunday</h2>

        <div class="card-body">
          <div class="row">
            <div class="activities col-6">
              <h5>Activities</h5>
              <p class="card-subtitle mb-2">Morning:</p>
              <ul class="list-group mb-2">
                <li class="list-group-item"><a href="{{ itinerary.ent.sunday_mor[12] }}">{{ itinerary.ent.sunday_mor[1] }}</a></li>
                <li class="list-group-item">Cost: ${{ itinerary.ent.sunday_mor[8] }}</li>
              </ul>
              <p class="card-subtitle mb-2">Afternoon: Departure</p>
              <p class="card-subtitle mb-2">Evening: N/A</p>
            </div>

            <div class="meals col-6">
              <h5>Meals</h5>
              <ul class="list-group mb-2">
                <li class="list-group-item">Breakfast: {{ itinerary.meals[4][1] }} (${{ itinerary.get_rest_price(itinerary.meals[4][4]) }})</li>
                <li class="list-group-item">Lunch: N/A</li>
                <li class="list-group-item">Dinner: N/A</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}
